{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
    <h1>Catalogue Vidéo</h1>

    <div class="catalogue-grid">
        {% for el in elements %}
            <div class="item">
                <h2>{{ el.name }}</h2>

                {% if el.type == 'pack' %}
                    <span class="badge badge-pack">Pack</span>
                    <p>{{ el.videos|length }} vidéos</p>
                {% else %}
                    <span class="badge badge-video">Cours individuel</span>
                    <p>Catégorie : {{ el.categorie.name }}</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
